<%= render 'shared/index_heading', resource: 'artist' %>

<%= render 'shared/search_form', collection: @artists, action: artists_path  %>

<div class="card-columns">
  <%= render @artists %>
</div>

<%= paginate @artists %>
