<% if params[:q] %>
  <% content_for :heading, "Showing artist results for '#{params[:q]}'" %>
<% else %>
  <% content_for :heading, 'All Artists' %>
<% end %>

<%= render 'shared/search_form', collection: @artists, action: artists_path  %>

<div class="card-columns">
  <%= render @artists %>
</div>

<%= paginate @artists %>
