<% content_for :heading, @artist.name %>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Albums
      </div>
      <div class="card-body">
      <% @albums.each do |album| %>
        <%= link_to album.name, album %>
        <% if album.label %>
	(<%= link_to album.label.name, album.label %>)
	<% end %>
        <br />
      <% end %>
      </div>
    </div>
  </div>
</div>
