<% content_for :heading, @song.name %>
<% content_for :sub_heading do %>
  <h5>
    on <%= link_to @song.album.name, @song.album %>
    by <%= link_to @song.album.artist.name, @song.album.artist %>
  </h5>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h2>On Playlists</h2>
      </div>
      <div class="card-body">
      <% @song.playlists.each do |playlist| %>
        <%= link_to playlist.name, playlist %>
      <% end %>
      </div>
    </div>
  </div>
</div>
