<div class="card">
  <div class="card-body">
    <h4><%= link_to album.name, album_path(album) %></h4>
  </div>
  <div class="card-footer text-right">
    <small class="text-muted">by </small>
    <% album.artists.each do |artist| %>
      <%= link_to artist.name, artist %>
    <% end %>
  </div>
</div>
