<%= render 'shared/index_heading', resource: 'album' %>

<%= render 'shared/search_form', collection: @albums, action: albums_path  %>

<div class="card-columns">
  <%= render @albums %>
</div>

<%= paginate @albums %>
