<div class="jumbotron">
  <h1>All Albums</h1>
</div>

<div class="row">
<% @albums.each do |album| %>
<div class="col-sm-3">
  <div class="card">
    <div class="card-body">
    <h4><%= link_to album.name, album_path(album) %></h4>
    </div>
  </div>
</div>
<% end %>
</div>
