<div class='row'>
  <div class='col-md-8'>
  <h1>All Playlists</h1>
  </div>
  <div class='col-md-2'>
    <%= link_to 'New Playlist', new_playlist_path, class: 'btn btn-info' %>
  </div>
</div>

<ul>
<% @playlists.each do |pl| %>
  <li>
    <%= link_to pl.name, pl %>
  </li>
<% end %>
</ul>
