<% content_for :heading, "All Playlists" %>
<% content_for :sub_heading do %>
  <%= link_to 'New Playlist', new_playlist_path, class: 'btn btn-primary' %>
<% end %>

<div class="card-columns">
  <%= render @playlists %>
</div>

<%= paginate @playlists %>
