<div class='row'>
  <div class='col-md-8 col-md-offset-2'>
    <h1>New Playlist</h1>




    <%= form_with(model: @playlist, local: true) do |f| %>
    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <%= f.submit %>

    <% end %>
  </div>
</div>
